.table1 {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-left: 50px;
}
.table2 {
  height: 520px;
  width: 380px;

  border-radius: 10px;
  backdrop-filter: transparent;
  border-color: rgba(240, 106, 151, 0.685);

  border-style: solid;
}
body {
  background-image: url(p1\ images/p3bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.table3 {
  text-align: center;
  vertical-align: text-top;
  color: rgba(247, 245, 243);
}
.table4 {
  border-radius: 40px;
  padding: 10px;
  width: 290px;
  text-align: center;
  background-color: aliceblue;
  opacity: 0.7;
}
.table5 {
  padding-left: 37px;
  padding-bottom: 16px;
  padding-top: 30px;

  display: inline-block;
  justify-content: center;
  align-items: center;
}

.table6 {
  padding-left: 35px;
  padding-bottom: 16px;

  display: inline-block;
  justify-content: center;
  align-items: center;
}
.table7 {
  padding-left: 35px;
  padding-bottom: 16px;

  display: inline-block;
  justify-content: center;
  align-items: center;
}
.table8:hover {
  cursor: pointer;
  filter: drop-shadow(12px 12px 13px rgb(248, 6, 139));
  filter: drop-shadow(-3px -3px 13px rgb(248, 6, 139));
  transition-duration: 0.4s;
}

.table8 {
  border-radius: 40px;
  padding: 10px;
  width: 290px;
  text-align: center;
  background-color: rgb(248, 6, 139);
  border-color: rgb(250, 4, 168);
  border-style: solid;
  opacity: 0.8;
  color: black;
}
.table9 {
  border-radius: 40px;
  padding: 10px;

  text-align: center;
  padding: 0px;
}
.table10 {
  color: black;
  font-size: 18px;
  text-decoration: none;
}

.table11 {
  border-radius: 40px;

  background-color: aliceblue;
  opacity: 0.8;
  padding: 10px;
  width: 100px;

  padding-left: 23px;
  margin-left: 134px;
  margin-top: 10px;

  display: inline-block;
  justify-content: center;
}
.table11:hover{

background-color: rgba(240, 172, 217 ) ;
transition-duration: 0.4s;




}
.table12 {
  color: black;
  font-size: 18px;
  text-decoration: none;
}
